* {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
}




body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}