* {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color:rgba(118, 221, 197, 0.698);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


nav {
    padding: 3%;
    display: flex;
    justify-content: center;
}

h1 {
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
     color: crimson;
}


